#homecategories #subcategories {
}
#homecategories #subcategories p.subcategory-heading {
    font-weight: bold;
    color: #333333;
    margin: 0 0 15px 0;
}
#homecategories #subcategories ul {
    margin: 0 0 0 -20px;
}
#homecategories #subcategories ul li {
    float: left;
    width: 178px;
    margin: 0 0 10px 20px;
    text-align: center;
    height: 202px;
}
#homecategories #subcategories ul li .subcategory-image {
    padding: 0 0 8px 0;
}
#homecategories #subcategories ul li .subcategory-image a {
    display: block;
    padding: 9px;
    border: 1px solid #d6d4d4;
}
#homecategories #subcategories ul li .subcategory-image a img {
    max-width: 100%;
    vertical-align: top;
}
#homecategories #subcategories ul li .subcategory-name {
    font: 600 12px/12px "Open Sans", sans-serif;
    color: #555454;
    text-transform: uppercase;
}
#homecategories #subcategories ul li .subcategory-name:hover {
    color: #515151;
}
#homecategories #subcategories ul li .cat_desc {
    display: none;
}
#homecategories #subcategories ul li:hover .subcategory-image a {
    border: 5px solid #333333;
    padding: 5px;
}

